body{
    background: color #d9d9d9;
    font-family: 'Courier New', Courier, monospace;
    color: #1e1e1e;
}
img{
    max-width: 200px;
    height:auto;
    float:right;
}
.logo{
width:auto;
height: auto;
float:left;

}
.header{
    background-color: #59ABD9;
    font-weight: bolder;
    font-size: xx-large;
    border-bottom: 5px #1e1e1e;
    padding-left: 30%;
    padding-right:30%;
}

.nav{
    background-color:#59ABD9;
    color:#1e1e1e;
    margin 0 auto;
    width 200px;
    text-align: center;
    box-shadow: rgba(0,0,0,0.1) 0 0 15px;
    top 50px
}

.Copyright{
    
}

.dropdown{
    background-color: #59ABD9;
    color:#1e1e1e;
    padding: auto;
}

.info_list{
    padding: 20px;
    bottom: 0px;
}